:root {
  --primary-color: #4d77ae;
  --secondary-color: #ff9553;
  --tertiary-color: #ffb20c;
  --relative-font-size: calc(0.75rem + 3.28vw);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h3 {
  font-size: var(--relative-font-size);
  text-align: justify;
  text-justify: inter-word;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1.25em;
}

main {
  flex-grow: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: calc(var(--relative-font-size));
}

textarea {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--primary-color);
  width: 100%;
  font-size: var(--relative-font-size);
}

button[type="submit"] {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--relative-font-size);
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1.25em;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  label,
  textarea,
  button[type="submit"] {
    font-size: 44px;
  }
  textarea {
    height: 8em;
  }
}
